// @use "../node_modules/bulma/sass/base";
// @use "../node_modules/bulma/sass/themes";

// @use "../node_modules/bulma/sass/layout/section.scss";
// @use "../node_modules/bulma/sass/layout/container.scss";
// @use "../node_modules/bulma/sass/grid/columns.scss";
// @use "../node_modules/bulma/sass/elements/box.scss";
// @use "../node_modules/bulma/sass/elements/button.scss";

// @use "../node_modules/bulma/sass/components/navbar.scss";

// @use "../node_modules/bulma/sass/elements/icon.scss";

@use "../node_modules/bulma/bulma.scss";


.field{
    overflow-x: auto;
}

html, body {

    height: 100vh;
    display: flex;
    width: 100%;

}

.columns {

    width: 100%;

}

.column {

    height: 100%;
    flex: 1;

}

.aside-menu {

    height: 100%
}

.main-content {

    height: 100%
}

.card {

    width: 340px;
    min-width: 320px;
    height: 100%;
}

.card-content {

    padding: 0.2rem;
}

.card-text {
    width: calc(100% - 70px);
}

.tittle {

    width: 100%;
    white-space: nowrap;       /* Evita que el texto salte de línea */
    overflow: hidden;          /* Oculta el contenido que se desborda */
    text-overflow: ellipsis;   /* Muestra "..." cuando el texto es muy largo */

}

.card-info {

    display: flex;
    gap: 15px;

}

.carrusel {
    max-width: 600px;
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    flex-direction: row;
}